
.upper-content-area {
	margin-bottom: 25px;
}

p {
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 20px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.btn-sm {
	font-size: 20px;
}

#name-box h1{
	font-family: 'Poiret One', Georgia, serif;
}

#name-box span{
	font-family: 'Open Sans', Arial, sans-serif;
}

/**************************************/
/*Fading/Falling Words Scripts
/**************************************/
.falling-text {
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 500px) {
	p {
		font-size: 15px;
		line-height: 30px;
		margin-bottom: 10px;
	}

	.btn-sm {
		font-size: 15px;
		padding: 2.5px 5px;
	}

	#name-box {
		text-align: left;
	}
}